<%= form_tag("/recipes/#{@recipe.id}", method: "patch") do %>
  <div>
  <h3>Recipe info</h3>
  <%= label_tag(:title) %>
  <%= text_field_tag(:title, @recipe.title) %>

  <%= label_tag(:prep_time) %>
  <%= text_field_tag(:prep_time, @recipe.prep_time) %>

  <%= label_tag(:ingredients) %>
  <%= text_field_tag(:ingredients, @recipe.ingredients) %>
  </div>
  <% if @recipe.recipe_nutrition %>
  <div>
  <h3>Nutritional Info:</h3>
  <%= label_tag(:fat) %>
  <%= text_field_tag(:fat, @recipe.recipe_nutrition.fat) %>

  <%= label_tag(:calories) %>
  <%= text_field_tag(:calories, @recipe.recipe_nutrition.calories) %>

  <%= label_tag(:cholesterol) %>
  <%= text_field_tag(:cholesterol, @recipe.recipe_nutrition.cholesterol) %>

  <%= label_tag(:protein) %>
  <%= text_field_tag(:protein, @recipe.recipe_nutrition.protein) %>

  <%= label_tag(:carbs) %>
  <%= text_field_tag(:carbs, @recipe.recipe_nutrition.carbs) %>
</div>
<% end %>
<% if @recipe.directions %>
  <div>

  <% @recipe.directions.each_with_index do |direction, n|%>
  <%= label_tag(:direction_text[n]) %>
  <%= text_field_tag(:direction_text[n], direction.direction_text) %>
  <% end %>
</div>
<% end %>
  <%= submit_tag("Finalize edit") %>
<% end %>
