<%= form_tag("/recipes", method: "post") do %>
  <div>
  <%= label_tag(:title) %>
  <%= text_field_tag(:title) %>

  <%= label_tag(:prep_time) %>
  <%= text_field_tag(:prep_time) %>

  <%= label_tag(:ingredients) %>
  <%= text_field_tag(:ingredients) %>
  </div>

  <%= submit_tag("Submit this recipe") %>
<% end %>
