<div class="inner-page padd">
  <div class="single-item">
    <div class="container">
      <!-- Shopping single item contents -->
      <div class="single-item-content">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <!-- Product image -->
            <%= image_tag @recipe.images.first.link,  class: "img-responsive img-thumbnail", height: 430, width: 360 %>
          </div>
          <div class="col-md-8 col-sm-7">
            <!-- Heading -->
            <h3><%= @recipe.title %></h3>
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <!-- Single item details -->
                <div class="item-details">
                  <!-- Paragraph -->
                  <!-- <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                  <!-- Heading -->
                  <h5>Ingredients :-</h5>
                  <!-- Recipe ingredients -->
                  <ul class="list-unstyled">
                    <% @recipe.ingredients.split(',').each do |ing| %>
                    <li>
                      <i class="fa fa-check"></i><%= ing %><span class="pull-right"></span>
                      <div class="clearfix"></div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>

              <div class="col-md-5 col-sm-12">
                <!-- Form inside table wrapper -->
                <div class="table-responsive">
                  <!-- Ordering form -->

                    <!-- Table -->
                    <table class="table table-bordered">
                      <tr>
                        <td>Author:</td>
                        <td><%= @recipe.user.first_name %></td>
                      </tr>
                      <tr>
                        <td>Prep time:</td>
                        <% hour_min_ary = @recipe.prep_time.divmod(60) %>
                        <% if hour_min_ary[0] == 0 %>
                        <td><%= hour_min_ary[1].to_s + " minutes" %></td>
                        <% elsif hour_min_ary[1] == 0 %>
                        <td><%= hour_min_ary[0].to_s + " Hour(s)"%></td>
                        <% else %>
                        <td><%= hour_min_ary[0].to_s + " Hour(s) and " + hour_min_ary[1].to_s + " minute(s)" %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>Average rating:</td>
                        <td><%= @recipe.avg_rating %></td>
                      </tr>
                      <tr>
                        <% if @rev_check %>
                        <td>
                          <%= form_tag "/recipes/#{@recipe.id}/rerate", method: "patch" do %>
                            <%= submit_tag "Update Rating", class: "col-md-12 btn btn-primary btn-sm" %>
                            <td><div><%= select_tag :rating, options_for_select((1..5), @rev_check.rating) %></div></td>

                          <% end %>
                        </td>
                        <% else %>
                        <td>
                          <%= form_tag "/recipes/#{@recipe.id}/rate", method: "post" do %>
                            <%= submit_tag "Rate", class: "col-md-12 btn btn-primary btn-sm" %>
                            <td><div><%= select_tag :rating, options_for_select((1..5)) %></div></td>
                          <% end %>
                        </td>
                        <% end %>
                      </tr>
                      <tr>

                        <td colspan="2">
                          <%= form_tag "/recipes/#{@recipe.id}/comment", method: "post" do %>
                            <%= text_area_tag :comment_text, nil, cols: 31 %>
                            <div><%= button_to 'post', {controller: "comments", action: "create"}, class: "col-md-12 btn btn-primary btn-lg" %></div>
                          <% end %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <% if current_user %>
                            <% if @fav_check.empty? %>
                              <%= button_to "Add to Favorites", {controller: "favorites", action: "create"}, class: "col-md-12 btn btn-danger btn-sm" %>
                            <% else %>
                              <%= button_to "Unfavorite", {controller: "favorites", action: "destroy"}, class: "col-md-12 btn btn-danger btn-sm", method: :delete %>
                            <% end %>
                          <% end %>
                        </td>
                      </tr>
                    </table>
                  <!--/ Table End-->
                </div><!--/ Table responsive class end -->
              </div>
            </div><!--/ Inner row end  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Comments:</h2>
  <% @recipe.comments.each do |comment| %>
    <ul><li><%= comment.comment_text %> <ul>
      <li>-<%= comment.user.first_name %></li>
    </ul></li>
    </ul>

    <% if current_user && comment.user_id == current_user.id %>
    <div class="row">
      <%= button_to 'delete', {controller: "comments", action: "destroy"}, method: "delete", class: "col-sm-1 btn btn-danger btn-sm" %>
      <%= button_to 'edit', {controller: "comments", action: "edit"}, method: "get", class: "col-sm-1 btn btn-primary btn-sm" %>
    </div>
    <% end %>
  <% end %>
</div>



<h3><%= button_to "All Recipes", "/recipes", method: :get %>
<%= button_to "Edit This Recipe", "/recipes/#{@recipe.id}/edit" %>
<%= button_to "Delete", "/recipes/#{@recipe.id}", method: :delete %></h3>
