<div ng-app="app" ng-controller="ratingsCtrl" ng-init="setup(<%= @recipe.id.to_i %>)">
<div class="inner-page padd">
  <div class="single-item">
    <div class="container">
      <!-- Shopping single item contents -->
      <div class="single-item-content">
        <div class="row">
          <div class="col-md-4 col-sm-5">
            <!-- Product image -->
            <% if @recipe.images.first %>
            <%= image_tag @recipe.images.first.link,  class: "img-responsive img-thumbnail", height: 430, width: 360 %>
            <% end %>
          </div>
          <div class="col-md-8 col-sm-7">
            <!-- Heading -->
            <h3><%= @recipe.title %></h3>
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <!-- Single item details -->
                <div class="item-details">
                  <!-- Paragraph -->
                  <!-- <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                  <!-- Heading -->
                  <h5>Ingredients :-</h5>
                  <!-- Recipe ingredients -->
                  <ul class="list-unstyled">
                    <% @recipe.ingredients.split(',').each do |ing| %>
                    <li>
                      <i class="fa fa-check"></i><%= ing %><span class="pull-right"></span>
                      <div class="clearfix"></div>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <!-- <div class="col-md-5 col-sm-12"> -->
                  <!-- Single item details -->
                  <% if !@recipe.directions.empty? %>
                  <div class="item-details">
                    <!-- Paragraph -->
                    <!-- <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                    <!-- Heading -->
                    <h5>Directions :</h5>
                    <!-- Recipe ingredients -->
                    <ul class="list-unstyled">
                      <% @recipe.directions.each_with_index do |direction, n| %>
                      <li>
                        <i class="fa fa-check"></i><%= n + 1 %>:<%= direction.direction_text %><span class="pull-right"></span>
                        <div class="clearfix"></div>
                      </li>
                      <% end %>
                    </ul>
                  </div>
                  
                  <% end %>
                <!-- </div> -->
              </div>
              <div class="col-md-5 col-sm-12">
                <!-- Form inside table wrapper -->
                <div class="table-responsive">
                  <!-- Ordering form -->
                    <!-- Table -->
                    <table class="table table-bordered">
                      <tr>
                        <td>Author:</td>
                        <td><%= @recipe.user.first_name %></td>
                      </tr>
                      <tr>
                        <td>Prep time:</td>
                        <% hour_min_ary = @recipe.prep_time.divmod(60) %>
                        <% if hour_min_ary[0] == 0 %>
                        <td><%= hour_min_ary[1].to_s + " minutes" %></td>
                        <% elsif hour_min_ary[1] == 0 %>
                        <td><%= hour_min_ary[0].to_s + " Hour(s)"%></td>
                        <% else %>
                        <td><%= hour_min_ary[0].to_s + " Hour(s) and " + hour_min_ary[1].to_s + " minute(s)" %></td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>Average rating:</td>
                        <td><%= @recipe.avg_rating %></td>
                      </tr>
                      <tr>
                        <% if current_user %>
                        <td>
                          Rate:
                        </td>
                        <td>
                          <i class="star-rating fa fa-lg" ng-repeat="star in recipe.stars" ng-click="rateRecipe(recipe, star, <%= @recipe.id.to_i %>)" ng-mouseover="fillStar(recipe, star)" ng-mouseleave="emptyStar(recipe, star)" ng-class="{'fa-star': star.filled, 'fa-star-o': !star.filled}" aria-hidden="true"></i>
                        </td>
                        <% end %>
                      </tr>
                      <tr>
                        <% if current_user && @recipe.user_id == current_user.id %>
                        <td colspan="2">
                            <%= button_to "Edit Recipe", {controller: "recipes", action: "edit"}, class: "col-md-6 btn btn-danger btn-sm", method: :get %>
                            <%= button_to "Delete Recipe", {controller: "recipes", action: "destroy"}, class: "col-md-6 btn btn-danger btn-sm", method: :delete %>
                        </td>
                        <% end %>
                      </tr>

                      <% if !current_user %>
                    </br>
                     <h3>Please <a href="/users/sign_in">login</a> to access the comment, favorite, and rating features!</h3>
                     <% end %>
                    </table>
                  <!--/ Table End-->
                </div><!--/ Table responsive class end -->
                <!-- <div class="col-md-5 col-sm-12"> -->
                <% if @recipe.recipe_nutrition %>
                <table class="table table-bordered">
                  <tr><th colspan="2">Nutrition Facts:</th></tr>
                  <tr>
                    <td>calories</td>
                    <td><%= @recipe.recipe_nutrition.calories.to_s %></td>
                  </tr>
                  <tr>
                    <td>fat</td>
                    <td><%= @recipe.recipe_nutrition.fat.to_s << 'g' %></td>
                  </tr>
                  <tr>
                    <td>carbs</td>
                    <td><%= @recipe.recipe_nutrition.carbs.to_s << 'g' %></td>
                  </tr>
                  <tr>
                    <td>protein</td>
                    <td><%= @recipe.recipe_nutrition.protein.to_s << 'g' %></td>
                  </tr>
                  <tr>
                    <td>cholesterol</td>
                    <td><%= @recipe.recipe_nutrition.cholesterol.to_s << 'mg' %></td>
                  </tr>
                </table>
                <% end %>
                <!-- </div> -->
              </div>
            </div> <!--/ Inner row end  -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="commentsCtrl" ng-init="setup(<%= @recipe.id.to_s %>)">
    <% if current_user %>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-sm-6">
        <textarea ng-model="comment" type="text" class="form-control" rows="4" placeholder="Leave a comment"></textarea>
      </div>
      <div class="col-sm-2">
        <input ng-click="createComment(comment, recipe, <%= @recipe.id.to_s %>)" type="submit" class="btn btn-default" value="Submit">
      </div>
      <div class="alert col-sm-4" ng-class="{'alert-danger': error, 'alert-success': createdMessage}" role="alert">
        {{ error }}
        {{ createdMessage }}
      </div>
    </div>

    <div class="list-group col-sm-6" id="commentScroll">
      <a href="" ng-mouseover="showEdit(recipe, comment, $index, <%= current_user.id %>)" ng-mouseleave="removeEdit(comment)" class="list-group-item" ng-repeat="comment in recipe.comments" id="$index">
        <div ng-if="!comment.editable">
          <!-- ng if will do a check and verify that edita -->

          <h4>{{ comment.comment_text }} <li>By: {{ comment.commenter["first_name"] }}</li> </h4>
          <div class="row"><p ng-if="comment.edit" ng-click="editComment(comment)">Edit</p>
          <p ng-if="comment.edit" ng-click="deleteComment(recipe, comment, $index, <%= current_user.id %>, <%= @recipe.id.to_i %>)">Delete</p></div>
        </div>
        <div ng-if="comment.editable">
          <textarea ng-model="comment.comment_text" class="form-control" name="" id="" rows="4"></textarea>
          <input ng-click="updateComment(comment, <%= @recipe.id %>)" type="submit" class="btn btn-default" value="Submit">
        </div>
      </a>
    </div>
    <% end %>
    <div class="alert col-sm-4" ng-class="{'alert-danger': error, 'alert-success': updatedMessage}" role="alert">
      {{ error }}
      {{ updatedMessage }}
    </div>
  </div>
</div>
</div>


<!-- <h3><%= button_to "All Recipes", "/recipes", method: :get %>
<%= button_to "Edit This Recipe", "/recipes/#{@recipe.id}/edit" %>
<%= button_to "Delete", "/recipes/#{@recipe.id}", method: :delete %></h3> -->
