<h1>Viewing <%= @recipe.title %></h1>
<h2>This recipe is:  <% @recipe.diet_restrictions.each do |r|%><p><%= r.restriction %></p></h2>
<% end %>
<% @recipe.images.each do |image| %>
<img src="<%= image.link %>" height="300" width="300">
<% end %>

<div>Author: <%= @recipe.user.first_name %></div>
<div>Prep time: <%= @recipe.prep_time %></div>
<div>Average Rating: <%= @recipe.avg_rating %></div>

<% if @rev_check %>
  <%= form_tag "/recipes/#{@recipe.id}/rerate", method: "patch" do %>
  <div><%= select_tag :rating, options_for_select((1..5)) %></div>
  <%= button_to "Update Rating", controller: "reviews", action: "update"  %>
  <% end %>
<% else %>
  <%= form_tag "/recipes/#{@recipe.id}/rate", method: "post" do %>
  <div><%= select_tag :rating, options_for_select((1..5)) %></div>
  <%= button_to "Rate", controller: "reviews", action: "create"  %>
  <% end %>
<% end %>

<% if current_user %>
  <% if @fav_check.empty? %>
  <%= button_to "Favorite", controller: "favorites", action: "create" %>
  <% else %>
  <%= button_to "Unfavorite", {controller: "favorites", action: "destroy"}, method: :delete %>
  <% end %>
<% end %>

<h2>Directions:</h2>
<ol>
<% @recipe.directions.each do |direction| %>
  <li><%= direction.direction_text %></li>
<% end %>
</ol>

<h2>Ingredients:</h2>
<% @recipe.ingredients.split(',').each do |ingredient| %>
<ul>
  <li><%= ingredient %></li>
</ul>
<% end %>

<h2>Comments:</h2>
<% @recipe.comments.each do |comment| %>
  <ul><li><%= comment.comment_text %> <ul>
    <li>-<%= comment.user.first_name %></li>
  </ul></li>
  </ul>

  <% if current_user && comment.user_id == current_user.id %>
  <div class="row">
    <%= button_to 'delete', {controller: "comments", action: "destroy"}, method: "delete", class: "col-sm-1 btn btn-danger btn-sm" %>
    <%= button_to 'edit', {controller: "comments", action: "edit"}, method: "get", class: "col-sm-1 btn btn-primary btn-sm" %>
  </div>
  <% end %>
<% end %>

<%= form_tag "/recipes/#{@recipe.id}/comment", method: "post" do %>
<%= text_area_tag :comment_text %>
<div><%= button_to 'post', controller: "comments", action: "create" %></div>
<% end %>

<% if @recipe.recipe_nutrition %>
<table border="1">
  <tr>
    <th>Nutrition-info</th>
    <th>(mg/g)</th>
  </tr>
  <tr>
    <td>calories</td>
    <td><%= @recipe.recipe_nutrition.calories %></td>
  </tr>
  <tr>
    <td>fat</td>
    <td><%= @recipe.recipe_nutrition.fat.to_s << 'g' %></td>
  </tr>
  <tr>
    <td>protein</td>
    <td><%= @recipe.recipe_nutrition.protein.to_s << 'g' %></td>
  </tr>
  <tr>
    <td>carbs</td>
    <td><%= @recipe.recipe_nutrition.carbs.to_s << 'g' %></td>
  </tr>
  <tr>
    <td>cholesterol</td>
    <td><%= @recipe.recipe_nutrition.cholesterol.to_s << 'mg' %></td>
  </tr>
</table>
<% end %>


<h3><%= link_to "All Recipes", "/recipes" %></h3>
<h3><%= link_to "Edit This Recipe", "/recipes/#{@recipe.id}/edit" %></h3>
<h3><%= link_to "Delete", "/recipes/#{@recipe.id}", method: :delete %></h3>
