<div class="banner padd" style="background-image: url(<%= asset_path('banner.jpg') %>)">
	<div class="container">
		<!-- Image -->
		<%= image_tag 'crown-white.png', class: 'img-responsive' %>
		<!-- <img class="img-responsive" src="img/crown-white.png" alt="" /> -->
		<!-- Heading -->
		<h2 class="white">My Profile</h2>
		<div class="clearfix"></div>
	</div>
</div>

<div class="inner-page padd">
<h1>&nbsp; &nbsp; &nbsp; &nbsp;Hello <%= current_user.first_name %></h1>
<div class="general">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8">
				<!-- General information content -->
				<div class="general-content">
					<!-- Navigation tab -->
					<ul class="nav nav-tabs">
						<!-- Navigation tabs (Job titles ). Use unique value for "href" in "anchor tags". -->
						<li class="active"><a href="#tab1" data-toggle="tab">About Us</a></li>
						<li><a href="#tab2" data-toggle="tab">My Favorites</a></li>
						<li><a href="#tab3" data-toggle="tab">My Submitted Recipes</a></li>
            <% if current_user.admin? %>
						  <li><a href="#tab4" data-toggle="tab">Admin</a></li>
            <% end %>
					</ul>
					<!-- Tab content -->
					<div class="tab-content">
						<!-- In "id", use the value which you used in above anchor tags -->
						<div class="tab-pane active" id="tab1">
							<!-- Heading -->
							<h5>My Info</h5>
							<ul class="list-unstyled">
								<li><i class="fa fa-check"></i> Zipcode: <%= current_user.zipcode %></li>
								<li><i class="fa fa-check"></i> Cras tincidunt mi non arcu hendrerit eleifend</li>
								<li><i class="fa fa-check"></i> Aenean tincidunt justo aliquet et lobortis diam faucibus</li>
								<li><i class="fa fa-check"></i> Maecenas hendrerit neque id ante dictum mattis</li>
								<li><i class="fa fa-check"></i> Vivamus non neque lacus, et cursus tortor</li>
							</ul>
						</div> <!--/ tab-pane end -->
						<div class="tab-pane" id="tab2">
							<!-- heading -->
						<h5>My Favorites</h5><br>
            <% current_user.favorites.each do |favorite| %>
						<li><%= link_to "#{favorite.recipe.title}", "/recipes/#{favorite.recipe_id}" %></li>
						<% end %>
						</div> <!--/ tab-pane end -->
						<div class="tab-pane" id="tab3">
							<% user_sub_recipes = Recipe.where(user_id: current_user.id) %>
							<h5>You have submitted <%= user_sub_recipes.count %> recipes:</h5><br>
							<% user_sub_recipes.each do |recipe| %>
							<li><%= link_to "#{recipe.title}", "/recipes/#{recipe.id}" %><% if !recipe.approved %>(pending)<% end %></li>
							<% end %>
						</div> <!--/ tab-pane end -->
            <% if current_user.admin? %>
  						<div class="tab-pane" id="tab4">
  							<!-- Heading -->
  							<h4>Recipes pending approval (<%= @recipes.count %>):</h4>
								<ul>
									<% @recipes.each do |recipe| %>
									<li><%= link_to recipe.title, "/recipes/#{recipe.id}" %>
											<%= form_tag "/recipes/#{recipe.id}/approve", method: :patch do  %>
											<%= submit_tag "approve" %>
											<% end %>
									</li>
									<% end %>
								</ul>
            <% end %>
					</div><!--/ Tab content end -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>
